<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <h1>SignUp on Staylio</h1>
        <div class="col-6 offset-3">
            <form action="/signup" class="needs-validation" novalidate method="POST">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input required class="form-control" name="username" id="username" type="text">
                     <div class="valid-feedback">
                        Looks good.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" required class="form-control" name="email" type="email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input id="password" required class="form-control" name="password" type="password">

                </div>
                <button class="btn btn-success">Signup</button>
            </form>
        </div>
    </div>